body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
  }
  #quiz {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#start-button {
    display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

  #timer {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
  }
