body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
  }
  
  #quiz {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
  }
  
  #start-button {
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
  }
  
  #timer {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
  }
